<h3> Guitar List </h3>

<ul>
    <% @guitars.each do |guitar| %>
        <li><a href='/guitars/<%= guitar.id %>'><%= guitar.year.to_s + " " + guitar.brand + " " + guitar.model + " " + guitar.id.to_s %></a></li>
    <% end %>
</ul>

