<h3>Add Guitar</h3>

<form action="/guitars" method="post">
    <div class="input-field col s6">
        <input id="brand" name="guitar[brand]" type="text" class="validate">
        <label for="brand">Guitar Manufacturer</label>
    </div>

    <div class="input-field col s6">
        <input id="model" name="guitar[model]" type="text" class="validate">
        <label for="model">Guitar Model</label>
    </div>

    
    <div class="input-field col s6">
        <input id="year" name="guitar[year]" type="text" class="validate">
        <label for="year">Year Of Manufactur</label>
    </div>

    
    <div class="input-field col s6">
        <input id="serial" name="guitar[serial]" type="text" class="validate">
        <label for="serial">Serial Number</label>
    </div>

    
    <div class="input-field col s6">
        <input id="color" name="guitar[color]" type="text" class="validate">
        <label for="color">Finish Color</label>
    </div>

    </div>
    <input type="submit" value="Add Guitar" class="btn grey darken-2>
    </div>
<form>


